
.vscode
build
datasets

*.apk
*.apk.idsig
staging
compiled
out
temp
install

mpu6050/..module-common.o.cmd
mpu6050/.module-common.o
mpu6050/.Module.symvers.cmd
mpu6050/.modules.order.cmd
mpu6050/.mpu6050.ko.cmd
mpu6050/.mpu6050.mod.cmd
mpu6050/.mpu6050.mod.o.cmd
mpu6050/.mpu6050.o.cmd
mpu6050/Module.symvers
mpu6050/modules.order
mpu6050/mpu6050.ko
mpu6050/mpu6050.mod
mpu6050/mpu6050.mod.c
mpu6050/mpu6050.mod.o
mpu6050/mpu6050.o
